* {
  margin: 0;
  padding: 0;
}
body{
    background-color: #f4e4ba;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background-color: #fff;
    width:40vh;
    padding:2rem;
    border-radius:1rem;
    min-height: 45vh; 
    border: 2px solid rgb(138, 72, 72);
}
form{
    margin:2rem 0 1 rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
form select,input, button{
    width: 100%;
    border:none;
    outline:none;
    border-radius: 0.75rem;
}
form input{
    border:1px solid rgb(138, 72, 72);
    font-size: medium;
    height:2rem;
    padding:0.5rem;

}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1.1rem;
    margin-top: 1rem;
}
.from,
.to {
    display: flex; 
    flex-direction: column;
    gap: 0.3rem;
}
.select-container img{
    max-width: 2rem;
}
p{
    margin-bottom: 0rem;;
}
.select-container select{
    font-size:1rem;
    width:100%;
}
button{
    height:3rem;
    margin-top: 1rem;
    cursor:pointer;
    width:250px;
    background-color: rgb(132, 86, 68);
    color: #fff;
    font-weight: bold;
    font-size: large;
}
.select-container{
    display:flex;
    align-items: center;
    gap: 0.3rem;
    width:6rem;
    border-radius:0.5rem;
    border:1px solid rgb(138, 72, 72);
}
.dropdown i {
  font-size: 1.5rem;
  justify-content: center;
  margin-top: 1rem;
}
#amount{
    width:100%;
    text-align: center;
    margin-top: 1rem;
    height:1rem;
}
h2{
    text-align: center;
    margin-bottom: 1.5rem;
    color: rgb(136, 84, 84);
    font-style: serif;
    font-weight: bold;
}
.amount{
    width:100%;
}